.f40{
  font-size: 40px;
}
.f30{
  font-size: 30px;
}
.f24{
  font-size: 24px;
}
.f18{
  font-size: 18px;
}
.w700{
  font-weight: 700;
}
.pl30{
  padding-left: 30px;
}
.pr30{
  padding-right: 30px;
}
.ml30{
  margin-left: 30px;
}
.mr10{
  margin-right: 10px;
}
.mr30{
  margin-right: 30px;
}
.mr50{
  margin-right: 50px;
}
.mt30{
  margin-top: 30px;
}
.mb10{
  margin-bottom: 10px;
}
.mr60{
  margin-right: 60px;
}
.lh30{
  line-height: 30px;
}
.textCenter{
  text-align: center;
}
.textLeft{
  text-align: left;
}
.textRight{
  text-align: right;
}